.card__delete {
  background: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
}

.card__delete:hover {
  opacity: .6;
  transition: opacity .2s linear .1s;
}