.elements {
  width: 880px;
  padding-top: 50px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 19px 17px;
}

@media screen and (max-width: 900px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: max-content;
  }
}

@media screen and (max-width: 650px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding-top: 39px;
  }
}
