.profile__edit_button {
  max-width: 24px;
  border: 1px #ffff solid;
  background: url(../../../../images/VectorPen.png);
  background-repeat: no-repeat;
  height: 24px;
  align-self: end;
  background-position: 50%;
  grid-row: 1/2;
  grid-column: 3/4;
  margin: 0 0 8px 17px;
}