.card__like {
  background: url(../../../images/VectorHeart.svg);
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  border: none;
  align-self: center;
  justify-self: end;
  margin: 30px 27px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__like:hover {
  opacity: .5;
}

@media screen and (min-width: 320px) and (max-width: 637px) {
  .card__like {
    margin-right: 20px;
  } 
}