.footer {
  background: black;
  display: flex;
  max-width: 882px;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 637px) {
  .footer {
    margin: 0 19px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}